/**
 * Authors:
 *     Yu Zhou, Tsinghua University, y-zhou16@mails.tsinghua.edu.cn
 * File Description:
 *     Newton field selection module.
 */

#ifndef _FIELD_SELECTION_
#define _FIELD_SELECTION_

/******* Field Selection *******/
{% for s in newton.symbols %}
action do_select_fields_{{ s }} (
    {{- newton.fields[0].header }}_{{ newton.fields[0].field }}_mask 
    {%- for f in newton.fields[1:] -%}, {{ f.header }}_{{ f.field }}_mask {% endfor %}) {
    {% for f in newton.fields %}
    bit_and(key_set_{{ s }}.{{ f.header }}_{{ f.field }},
        global_field_set.{{ f.header }}_{{ f.field }}, {{ f.header }}_{{ f.field }}_mask);       
    {%- endfor %}
}
{% endfor %}

{% for s in newton.symbols %}
{%- for f in newton.fields %}
action do_select_{{ f.header }}_{{ f.field }}_{{ s }} () {
    modify_field(result_set_{{ a }}.selected_value, 
                 global_field_set.{{ f.header }}_{{ f.field }});
}
{% endfor %}
{% endfor %}


{% for m in newton.modules %}
@pragma stage {{ m.stage }}
table field_select_{{ m.id }}_{{ m.field_select_symbol }} {            
    reads { 
        newton_md.task_id: exact; 
    }
    actions {                                  
        do_select_fields_{{ m.field_select_symbol }};                  
        {%- for f in newton.fields %}
        do_select_{{ f.header }}_{{ f.field }}_{{ m.field_select_symbol }};
        {%- endfor %}      
    }                                          
    size: TBL_SIZE_FIELD_SELECTION; 
} 
{% endfor %}


#endif /* End of _FIELD_SELECTION_ */
