/**
 * Authors:
 *     Yu Zhou, Tsinghua University, y-zhou16@mails.tsinghua.edu.cn
 * File Description:
 *     ClickQ Hash Calculation module.
 */


#ifndef _HASH_CALCULATION_
#define _HASH_CALCULATION_

#define HASH_BIT    {{ newton.hash_bit }}
#define BLOCK_SIZE  {{ newton.block_size }}

{% for s in newton.symbols %}
field_list key_list_{{ s }} { key_set_{{ s }}; }
{%- endfor %}

{% for s in newton.symbols %}
field_list_calculation hash_cal_{{ s }} {
    input {
        key_list_{{ s }};
    }
    algorithm {      
        {% for a in newton.hash_algorithms %}
        {{- a }};
        {% endfor -%}
    }
    output_width: HASH_BIT;
}
action do_hash_{{ s }} () { 
    modify_field_with_hash_based_offset(
        result_set_{{ s }}.hash_value, 0, 
        hash_cal_{{ s }}, HASH_BLOCK);
}
action do_set_key_{{ s }} () {
    modify_field(result_set_{{ s }}.hash_value, 
                 result_set_{{ s }}.selected_value);
}
{% endfor %}


{% for m in newton.modules %}
@pragma stage {{ m.stage }}
table hash_calculate_{{ m.id }}_{{ m.hash_calculate_symbol }} {                
    reads { 
        newton_md.task_id : exact; 
    }        
    actions {
        do_set_key_{{ m.hash_calculate_symbol }};
        do_newton_hash_{{ m.hash_calculate_symbol }};
    }
    size: TBL_SIZE_HASH_CALCULATION;
}                                               
{% endfor %}

#endif /* End of HASH_CALCULATION */
