/**
 * Authors:
 *     Yu Zhou, Tsinghua University, y-zhou16@mails.tsinghua.edu.cn
 * File Description:
 *     ClickQ entrance.
 */


#ifndef _NEWTON_P4_ 
#define _NEWTON_P4_

#include "newton_config.p4"
#include "newton_metadata.p4"

#include "field_selection.p4"
#include "hash_calculation.p4"
#include "state_bank.p4"
#include "result_process.p4"

control newton_ingress_stages {
{%- for m in newton.modules %}
{%- if m.is_ingress == 1 %}
    if (newton.stop == 0) {
        apply(field_select_{{ m.id }});      
        apply(hash_calculate_{{ m.id }});  
        apply(state_bank_{{ m.id }});  
        apply(result_process_{{ m.id }});  
    }
{%- endif %}
{%- endfor %}
}

control newton_egress_stages {
{%- for m in newton.modules %}
{%- if m.is_ingress == 0 %}
    if (newton.stop == 0) {
        apply(field_select_{{ m.id }});      
        apply(hash_calculate_{{ m.id }});  
        apply(state_bank_{{ m.id }});  
        apply(result_process_{{ m.id }});  
    }
{%- endif %}
{%- endfor %}
}


table newton_fin {
    reads {
        newton_md.task_id : exact;
        newton_md.stop : exact;
    }
    actions {
        do_add_newton_sp;
        do_mod_newton_sp;
        do_remove_newton_sp;
    }
    size : 512;
}

action do_newton_init (task_id, alu_a, value_a, alu_b, value_b) {
    modify_field(newton_md.task_id, task_id);
    modify_field(newton_md.alu_type_a, alu_a);
    modify_field(newton_md.alu_value_a, value_a);
    modify_field(newton_md.alu_type_b, alu_b);
    modify_field(newton_md.alu_value_b, value_b);
   
    {%- for f in newton.fields %}
    modify_field(global_field_set.{{ f.header }}_{{ f.field }}, {{ f.header }}.{{ f.field }});
    {%- endfor %}
}

table newton_init {
    reads {
        newton_sp           : valid;
        flow_md.src_ip      : ternary;
        flow_md.dst_ip      : ternary;
        flow_md.proto       : ternary;
        flow_md.src_port    : ternary;
        flow_md.dst_port    : ternary;
        tcp.ctrl            : ternary;
    }
    actions {
        do_newton_init;
    }
    size : 256;
}

control newton_ingress {
    apply(newton_init);
    newton_ingress_stages();
}

control newton_ingress {
    newton_egress_stages();
    apply(newton_fin);
}

#endif /* _NEWTON_P4_ */
