/**
 * Authors:
 *     Yu Zhou, Tsinghua University, y-zhou16@mails.tsinghua.edu.cn
 * File Description:
 *     Newton result process module.
 */

#ifndef _RESULT_PROCESS_
#define _RESULT_PROCESS_

action report() {                                                       
    // generate_digest(0, global_field_list);                                  
    modify_field(newton_md.stop, 1);                                           
}                                                                               
action newton_stop() {                                                         
    modify_field(newton_md.stop, 1);                                           
}                                                                               
action newton_continue() {                                                     
    modify_field(newton_md.stop, 0);                                           
}                                                                               

{% for s in newton.symbols %}

action add_with_result_{{ s }} () {                                                     
    modify_field(newton_md.global_result, 
                 result_set_{{ s }}.state_value);                                           
}
action bit_and_{{ s }} () {                                                     
    bit_and(newton_md.global_result, 
            newton_md.global_result, 
            result_set_{{ s }}.state_value);                                           
}  
action bit_andca_{{ s }} () {                                                     
    bit_and(newton_md.global_result, 
            newton_md.global_result, 
            result_set_{{ s }}.state_value);                                           
}                               

action bit_andcb_{{ s }} () {                                                     
    bit_and(newton_md.global_result, 
            newton_md.global_result, 
            result_set_{{ s }} .state_value);                                           
}                               

action bit_nand_{{ s }} () {                                                     
    bit_nand(newton_md.global_result, 
            newton_md.global_result, 
            result_set_{{ s }}.state_value);                                           
} 

action bit_or_{{ s }} () {
    bit_or(newton_md.global_result, 
           newton_md.global_result, 
           result_set_{{ s }}.state_value);  
}             

action bit_nor_{{ s }} () {                                               
    bit_or(newton_md.global_result, 
           newton_md.global_result, 
           result_set_{{ s }}.state_value);  
}           

action bit_orca_{{ s }} () {                                               
    bit_orca(newton_md.global_result, 
           newton_md.global_result, 
           result_set_{{ s }}.state_value);  
}             

action bit_orcb_{{ s }} () {                                               
    bit_orca(newton_md.global_result, 
           newton_md.global_result, 
           result_set_{{ s }}.state_value);  
}  

action bit_not_{{ s }} () {                                               
    bit_not(newton_md.global_result,
           result_set_{{ s }}.state_value);  
}                      

action bit_xor_{{ s }} () {                                               
    bit_xor(newton_md.global_result, 
            newton_md.global_result, 
            result_set_{{ s }}.state_value);  
}                                           

action min_{{ s }} () {
    min(newton_md.global_result, 
        newton_md.global_result, 
        result_set_{{ s }}.state_value);  
}

action max_{{ s }} () {
    max(newton_md.global_result, 
        newton_md.global_result, 
        result_set_{{ s }}.state_value);  
}

{% endfor %}

action add_by_x(x) {                                                     
    add_to_field(newton_md.global_result, x);                                   
} 

action subtract_by_x(x) {                                                     
    add_to_field(newton_md.global_result, x);                                       
} 

{% for m in newton.modules %}
@pragma stage {{ m.stage }}
table result_process_{{ m.id }} {  
    reads {  
        newton_md.task_id : exact ;  
        newton_md.global_result : ternary;  
        result_set_{{ m.result_process_symbol }}.state_value : ternary;  
    }   
    actions { 
        newton_report; 
        newton_stop;  
        newton_continue;  
        add_with_result_{{ m.result_process_symbol }}; 
        bit_and_{{ m.result_process_symbol }};   
        bit_andca_{{ m.result_process_symbol }};  
        bit_andcb_{{ m.result_process_symbol }};    
        bit_or_{{ m.result_process_symbol }};        
        bit_orca_{{ m.result_process_symbol }};          
        bit_orcb_{{ m.result_process_symbol }};      
        bit_xor_{{ m.result_process_symbol }};
        min_{{ m.result_process_symbol }};             
        max_{{ m.result_process_symbol }};                 
        add_by_x;               
        subtract_by_x;                    
    }                                          
    default_action : newton_continue;             
    size : TBL_SIZE_RESULT_PROCESS;                               
}                                              
{% endfor %}

#endif /* End of _CLICKQ_RESULT_PROCESS_ */
