/**
 * Authors:
 *     Yu Zhou, Tsinghua University, y-zhou16@mails.tsinghua.edu.cn
 * File Description:
 *     Newton state bank module.
 */

#ifndef _STATE_BANK_
#define _STATE_BANK_

#define NEWTON_STATE_OP_NOOP   0
#define NEWTON_STATE_OP_ADD    1
#define NEWTON_STATE_OP_SET    2
#define NEWTON_STATE_OP_OR     3
#define NEWTON_STATE_OP_AND    4

#define REG_WIDTH         {{ newton.reg_width }}
#define REG_INSTANCE_NUM  {{ newton.reg_instance_num }}

{% for s in newton.symbols %}
action do_pass_result_{{ s }} () {
    modify_field(result_set_{{ s }}.state_value, result_set_{{ s }}.hash_value);
}
{% endfor %}

{% for m in newton.modules %}
register state_array_{{ m.id }}  { 
    width: REG_WIDTH;                                                          
    instance_count: REG_INSTANCE_NUM;
}         
blackbox stateful_alu state_alu1_{{ m.id }} {                                   
    reg : state_array_{{ m.id }};                                                
    condition_lo : newton_md.alu_type_{{ m.state_bank_symbol }} == newton_STATE_OP_ADD;
    condition_hi : newton_md.alu_type_{{ m.state_bank_symbol }} == newton_STATE_OP_SET;
    update_lo_1_predicate: condition_lo; 
    update_lo_1_value: register_lo + newton_md.alu_value_{{ m.state_bank_symbol }};
    update_lo_2_predicate: condition_hi;
    update_lo_2_value: newton_md.alu_value_{{ m.state_bank_symbol }};
    output_value: register_lo;                                 
    output_dst: result_set_{{ m.state_bank_symbol }}.state_value;
}
action do_state_alu1_{{ m.id }} () {
    state_alu1_{{ m.id }}.execute_stateful_alu(result_set_{{ m.state_bank_symbol }}.hash_value);
} 
blackbox stateful_alu stateful_alu state_alu2_{{ m.id }} {
    reg : state_array_{{ m.id }};
    condition_lo : newton_md.alu_type_{{ m.state_bank_symbol }} == newton_STATE_OP_OR;
    condition_hi : newton_md.alu_type_{{ m.state_bank_symbol }} == newton_STATE_OP_AND;
    update_lo_1_predicate: condition_lo;
    update_lo_1_value: register_lo | newton_md.alu_value_{{ m.state_bank_symbol }};
    update_lo_2_predicate: condition_hi;
    update_lo_2_value: register_lo & newton_md.alu_value_{{ m.state_bank_symbol }};
    output_value: register_lo;
    output_dst: result_set_{{ m.state_bank_symbol }}.state_value;  
} 
action do_state_alu2_{{ m.id }} () { 
    state_alu2_{{ m.id }}.execute_stateful_alu(result_set_{{ m.state_bank_symbol }}.hash_value);
} 

@pragma stage {{ m.stage }}
table state_bank_{{ m.id }} {                 
    reads { 
        newton_md.task_id: exact; 
    }      
    actions {                                
        do_state_alu1_{{ m.id }};             
        do_state_alu2_{{ m.id }};             
        do_pass_result_{{ m.state_bank_symbol }};
    }                 
    size : TBL_SIZE_STATE_BANK;                              
}                
{% endfor %}

#endif /* End of _STATE_BANK_ */
